


        <a href="{{ path('game_landing') }}">21 home</a>
        <a href="{{ path('game_play') }}">Play</a>
        <a href="{{ path('game_doc') }}">Doc</a>
        {# <a href="{{ path('card_draw') }}">Draw 1 </a>
        <form class="draw-form" method="GET">
        <input class="draw-form-button" type="submit" value="Draw"
        onClick="this.form.action='{{ path('card_draw') }}';this.form.method='get';">
        <input type="number" name="cardsToDraw" min=2 value=2>
        </form> #}