{% extends "base.html.twig" %}

{% block title %}Adventure Game{% endblock %}
{% block body %}
  <section class="game-wrapper">
  {# <div class="player_ui game-wrapper"> #}
  <div class="player_ui">
  <div id="game_window" class={{room.image_class}}>

  {# TOP #}
    <div class="gameplan_rows room_top">
      
      <div class="room_ room_top_left"></div>
      <div class="room_ room_top_mid">
        {% if room.action is not empty %}
        {# {{room.action }} #}
          <form  action="{{ path('adventure_attack_handler') }}" method="post">
            <input type="text" name="{{room.action}}" id="{{room.action}}" value="{{room.action}}" hidden="true">
            {# <input type="text" name="{{room.title}}" id="{{room.title}}" value="{{room.title}}" hidden="true">  #}
            <input class="attack" type="submit" value="">
          </form>


        {% elseif room.forward is not empty %}
        <form  action="{{ path('adventure_next_room_handler') }}" method="post">
          <input type="text" name="{{room.forward}}" id="{{room.forward}}" value="{{room.forward}}" hidden="true">
          {# <input type="text" name="{{room.title}}" id="{{room.title}}" value="{{room.title}}" hidden="true">  #}
          {% if room.title == "third_cave_room"%}
          <input class="transparent_door blood_spatter" type="submit" value="">
          {% else %}
          <input class="transparent_door" type="submit" value="">
          {% endif %}
        </form>
        {% endif %}
      </div>

      <div class="room_ room_top_right"></div>
    
    </div>

  {# MID #}
    <div class="gameplan_rows room_mid">
      
      <div class="room_ room_mid_left">
        <form  action="{{ path('adventure_next_room_handler') }}" method="post">
          <input type="text" name="{{room.left}}" id="{{room.left}}" value="{{room.left}}" hidden="true">
            {% if room.left is not empty %}
              <input class="transparent_door" type="submit" value="">
            {% endif %}
        </form>
      </div>
      <div class="room_ room_mid_mid"></div>
      <div class="room_ room_mid_right"></div>
    
    </div>

  {# LOW #}
    <div class="gameplan_rows">

      <div class="gameplan_rows room_bot">
        
        <div class="room_ room_bot_left">
          <form  action="{{ path('adventure_interact_handler') }}" method="post">
            <input type="text" name="{{room.item}}" id="{{room.item}}" value="{{room.item}}" hidden="true">
            {% if room.item is not empty %}
              <input class="{{ room.item }}" type="submit" value="">
            {% endif %}
          </form>
        </div>

        <div class="room_ room_bot_mid">
          <form  action="{{ path('adventure_next_room_handler') }}" method="post">
            <input type="text" name="{{room.back}}" id="{{room.back}}" value="{{room.back}}" hidden="true">
              {% if room.back is not empty %}
                <input class="transparent_door" type="submit" value="">
              {% endif %}
          </form>
        </div>
        <div class="room_ room_bot_right"></div>
      
      </div>

    </div> 
  </div>
    <section class="inventory">
      <h3>Inventory</h3>
        {% for item in backpack %}
          <div class="{{ item }}"></div>
        {% endfor %}
        {% for message in app.flashes('enemy_status_defeated') %}
            <div class="alert alert-success">
                {{ message | raw}}
            </div>
        {% endfor %}
        {% for message in app.flashes('enemy_status_alive') %}
            <div class="alert alert-fail">
                {{ message | raw}}
            </div>
        {% endfor %}
    </section>

    <section class="story_text">

          <p class="bread_text">{{ room.description }}</p>
    </section>
  </div>
{# {% endblock %}  #}
</section>

<script>
    document.addEventListener("DOMContentLoaded", function () {

    document.getElementsByTagName("body")[0].classList.add("dark-purple-background");
    document.getElementsByTagName("footer")[0].classList.add("footer-alternative-color");
    document.getElementsByTagName("header")[0].classList.add("header-alternative-background");
    document.querySelectorAll(".a_link").forEach((link) => {
      link.classList.add("a_link_alt")
      link.classList.remove("a_link")
    })
    
})
</script>
{% endblock %} 