{% extends 'base.html.twig' %}

{% block title %}Hello LibraryController!{% endblock %}

{% block body %}
<div class="view-wrapper">
        {{ form_start(formDelete)}}
            {{ form_widget(formDelete) }}
        {{ form_end(formDelete) }}
        {{ form_start(formUpdate)}}
<table>
    <th>Title</th>
    <th>ISBN</th>
    <th>Author</th>
    <th>Cover</th>
        {% for book in all_books %}
        <tr>
            <td> {{ form_widget(formUpdate.title) }} </td>
            <td> {{ form_widget(formUpdate.isbn) }} </td>
            <td> {{ form_widget(formUpdate.author) }} </td>
            <td> {{ form_widget(formUpdate.cover) }} </td>
            {# <td> <img class="book_cover" src="{{ asset(book.getCover|e) }}" alt="A book cover"/>  </td> #}
        </tr>
        {% endfor %}
</table>
        {{ form_end(formUpdate) }}
</div>
{% endblock %}
